.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.sectionCentered {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    padding: 4rem 0;
    text-align: center;
}

.sectionCentereBlack {
    background-color: #000000;
    color: #ffffff;

}